@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body {
  background: #F6F8FC;
  background-image: url(./assets/images/pokeball-icon.png);
  background-repeat: no-repeat;
  background-position-x: -180px;
  background-position-y: -80px;
  width: 100%;
}

#app-container {
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  padding: 0 10vw;
  margin: 0 auto;
  width: 100%;
}

h1, h2, h3, h4 {
  color: #011030;
  margin: 5px;
  text-align: center;
}

h4 {
  margin-top: 15px;
}

.bold {
  font-weight: bold;
}

span {
  color: #8F9396;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-18 {
  font-size: 18px !important;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
}

.width-100 {
  width: 100%;
}

.container {
  border-radius: 20px;
  box-shadow: #EDEDED 0 10px 10px;
  padding: 15px;
  background-color: white;
}

.margin-5 {
  margin: 5px;
}

input {
  border: none;
  outline: none;
  font-size: 18px;
  flex: 1;
  max-width: calc(100% - 50px)
}

#pokemon-list {
  margin-right: 350px;
  width: 100%;
}

.load-more-btn {
  display: flex;
  margin: 25px auto 50px auto;
  border: none;
  padding: 1.25rem 2.5rem;
  font-size: 18px;
  border-radius: .5rem;
  color: white;
  background-color: hsl(231, 59%, 62%);
  box-shadow: 0 5px 15px hsla(231, 56%, 56%, .3);
}

.load-more-btn:hover {
  background-color: hsl(231, 44%, 56%);
}

.search-bar-container {
  margin: 30px 10px;
}

.start-search-button {
  background-color: rgb(255, 83, 80);
  width: 40px;
  border: none;
  outline: none;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  box-shadow: rgba(255, 83, 80, 0.533) 5px 5px 15px;
  color: white;
  font-size: 18px;
  border-radius: 10px;
}

.start-search-button:hover {
  opacity: 0.8;
  box-shadow: rgba(255, 83, 80, 0.61) 3px 3px 13px;
}

.pokedex-list-render-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.pokemon-render-result-container {
  flex: 0.5;
  min-width: 20%;
  margin: 10px;
  margin-top: 60px;
  padding-top: 40px;
  position: relative;
  cursor: pointer;
  border: 2px solid white;
  transition-duration: 100ms;
}

.pokemon-render-result-container:hover {
  border: 2px solid #e0e0e0;
}

.search-pokemon-image {
  position: absolute;
  top: -55px;
  image-rendering: pixelated;
  transition-duration: 100ms;
}

.pokemon-render-result-container:hover .search-pokemon-image {
  transform: scale(1.15);
}

.type-container {
  border-radius: 5px;
  padding: 3px 7px;
  color: black;
  margin: 5px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
  opacity: 0.8;
}

.current-pokemon-container {
  width: 320px;
  margin: 10px;
  height: 82vh;
  position: fixed;
  right: calc(10vw - 20px);
  padding: 0 15px;
  text-align: center;
  bottom: 0;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.current-pokemon-image {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 77vh;
  margin-right: auto;
  margin-left: auto;
  object-fit: contain;
  image-rendering: pixelated;
  max-width: 350px;
  max-height: 22vh;
}

.current-pokemon-info {
  margin-top: 6vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  overflow-y: scroll;
}

.hide {
  display: none !important;
}

.pokemon-info-variable-container {
  width: 100%;
  background-color: #F6F8FC;
  padding: 8px 0;
  border-radius: 30px;
  margin: 5px;
}

.current-pokemon-stats-container {
  background: #F6F8FC;
  display: flex;
  padding: 5px;
  border-radius: 30px;
  margin: 5px;
}

.current-pokemon-stats-container h5 {
  margin: 6px 0;
}

.current-pokemon-stats-name {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.current-pokemon-responsive-close {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #F6F8FC;
  cursor: pointer;
  z-index: 4;
  padding: 10px;
  border-radius: 10px;
  display: none;
  height: 22px;
  transition: 0.35s;
}

.current-pokemon-responsive-close:hover {
  opacity: 0.5;
}

.current-pokemon-responsive-background {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
  display: none;
  transition: 0.35s;
}

#current-pokemon-loading {
  position: fixed;
  right: calc(10vw - 10px);
  object-fit: contain;
  width: 350px;
  top: 175px;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  z-index: -1;
}

.loading-ball {
  height: 60px;
  filter: brightness(80%);
  animation: rotatePokeBall ease-in-out 3s infinite;
}

@keyframes rotatePokeBall {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.current-pokemon-evolution-image {
  height: 74px;
  width: 74px;
  border-radius: 30%;
}

.current-pokemon-evolution-image:hover {
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.current-pokemon-evolution-level-container {
  width: 50px;
  background-color: #F6F8FC;
  padding: 8px 0;
  border-radius: 30px;
  margin: 5px;
}

@media (max-width: 1100px) {
  #app-container {
    padding: 0 5vw;
  }
  #pokemon-list {
    margin: 0;
  }
  .current-pokemon-container {
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    width: calc(100% - 30px);
    display: none;
  }
  .current-pokemon-responsive-close {
    display: unset;
  }
  .pokemon-render-result-container {
    min-width: 25%;
    margin-right: 8px;
    margin-left: 8px;
  }
  .current-pokemon-responsive-background {
    display: unset;
  }
}

@media (max-width: 400px) {
  .pokemon-render-result-container {
      flex: unset;
      width: 100%;
  }
}
