@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: #EDF4FF;
}

.card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: #F7FFFF;
    border-radius: 5%;
    padding: 5%;
}

.counter-container {
    height: 600px;
    width: 400px;
}

.counter-count {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
    height: 65%;
    width: 100%;
    border-radius: 5%;
    background-image: linear-gradient(to right top, #f9f871, #e8f45d, #d5f148, #c0ee31, #a8eb12);
}

.counter-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 25%;
    width: 100%;
}

.counter-buttons button {
    display: flex;
    align-items: center;
    padding: 5%;
    border-radius: 5%;
    font-size: 24px;
    border: 1px solid transparent;
    background: #EEF7FF;
}

.counter-buttons button:hover,
.counter-amount .amount:focus, .amount:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.counter-amount {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-amount .amount {
    background: #EEF7FF;
    border: none;
    text-align: center;
    font-size: 14px;
    outline: none;
    border-radius: 5%;
    padding: 5%;
}

@media screen and (max-width: 480px) {
    .counter-container {
        height: 350px;
        width: 250px;
    }
    .counter-count,
    .counter-buttons button {
        font-size: 14px;
    }
  }
  